.header {
  &-logo {
    display: block;
    margin: 24px auto;

    img {
      //   width: 100%;
      width: 160px;
      object-fit: contain;
    }
  }
  .mobile-navbar {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  .header {
    display: flex;
    flex-direction: column;
    .mobile-navbar {
      background: #fff url("/header-bg.jpg") repeat-x left bottom;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;

      &__item {
        svg {
          display: inline-block;
          width: 20px;
        }
        a {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}
