@import "./footer.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.hightlight-product {
  &-container {
  }
  &__top {
    display: flex;
    gap: 16px;

    &--left {
      flex-basis: 50%;
      img {
        width: 100%;
      }
    }
    &--right {
      flex-basis: 50%;
      display: flex;
      gap: 16px;
      .hightlight-product-item {
        flex-basis: 50%;
        gap: 16px;
      }
    }
  }
  &__bot {
    display: flex;
    .hightlight-product-item {
      flex-basis: 25%;
      gap: 16px;
    }
  }
}

// For 3 banners
.thumbnails {
  display: flex;
  padding: 6rem 10%;
}

.thumbnails__items {
  flex-basis: 30%;
  text-align: center;
  margin: 0 auto;
}
.thumbnails__items h4 {
  font-size: 2.4rem;
  font-weight: normal;
  padding-top: 3rem;
}

.thumbnails__items-img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.thumbnails__items-img img {
  max-width: 100%;
  height: auto;
  transition: all 0.4s ease-in-out;
}

.thumbnails__items:hover img {
  transform: scale(1.2, 1.2) translateX(12px);
}
